*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registrationform
{
    width: 100%;
    background-color: rgb(205, 243, 255);
    box-shadow: 3px 3px 7px black;
    margin: 3em auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.registrationform legend
{
    width: 90%;
    margin: 0.5em auto 0.25em auto;
    font-weight: bold;
    font-size: 175%;
}

.inputsection
{
    width: 80%;
    margin: 0.5em auto 0.5em auto;
    text-align: center;
    grid-column: 1;
    position: relative;
}

.inputsection label
{
    font-size: 125%;
    font-weight: bold;
    display: none;
}

.inputsection input, .inputsection select, .inputsection .helper
{
    width: 80%;
    border-radius: 20px;
    font-size: 100%;
    margin-top: 1em;
    height: 2.5em;
    padding-left: 2px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: 0.25s;
}

.inputsection .helper
{
    display: none;
}

.inputsection select
{
    text-align-last:center;
}

.inputsection i
{
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 60px;
    transition: 0.25s;
}

.inputsection input:focus, .inputsection select:focus
{
    outline: none;
    border: 2px solid rgb(70, 181, 255);
    transition: 0.25s;
}

.inputsection input:focus + i, .inputsection input:not(:placeholder-shown):not(:focus) + i
{
    opacity: 0;
    transition: 0.25s;
}


.inputsection input:not(:placeholder-shown):not(:focus):invalid
{
    outline: none;
    border: 2px solid rgb(255, 70, 70);
    transition: 0.25s;
}

.inputsection .errormessage
{
    color: red;
    font-size: 90%;
    opacity: 0;
}

.inputsection input:not(:placeholder-shown):not(:focus):invalid ~ .errormessage
{
    opacity: 1;
    transition: 0.25s;
}

.inputsection .submit
{
    background-color: rgb(148, 173, 201);
    color: white;
    padding: 0;
}

.inputsection .submit:enabled
{
    background-color:rgb(31, 132, 248);
}

.inputsection .submit:disabled
{
    background-color:rgb(181, 191, 202);
}

.inputsection label::after
{
    content: " *";
    color: red;
}

.notrequired label::after
{
    content: "";
}

.notrequired
{
    display: none;
}

@media screen and (min-width: 40em)
{
    .registrationform
    {
        width: 40%;
        min-width: 25em;
        margin: 2em auto;
        text-align: center;
        background-color: rgb(83, 255, 141);
    }

    .inputsection
    {
        width: 70%;
        margin: 2em auto;
        text-align: center;
    }

    .inputsection label
    {
        font-size: 125%;
        font-weight: bold;
        display: block;
    }

    .inputsection input, .inputsection select
    {
        height: 2.5em;
    }

    .inputsection input:not(:focus):hover, .inputsection select:not(:focus):hover
    {
        border: 2px solid rgb(212, 212, 212);
        transition: 0.25s;
    }

    .inputsection i
    {
        position: absolute;
        top: 57px;
        left: 60px;
        transition: 0.25s;
    }

    .inputsection i:hover
    {
        transform: scale(1.2)
    }

    .inputsection .helper
    {
        display: block;
        position: absolute;
        opacity: 0;
        transition: 0.25s;
        background-color: white;
        min-height: 2em;
        height: auto;
        margin-top: 0.25em;
        padding: 1em;
        right: 2em;
        border: 2px solid rgb(70, 181, 255);
        transition: 0.25s;
        z-index: 99;
    }

    .inputsection i:hover + .helper
    {
        opacity: 1;
        transition: 0.5s;
        display: block;
    }

    .inputsection input:focus ~ .helper, .inputsection input:not(:placeholder-shown):not(:focus) ~ .helper
    {
        display: none;
    }

    .notrequired
    {
        display: block;
    }

}